:root{
    --uv-index: rgb(155, 216, 155);
}

.input-field .prefix.active {
    color: #64b5f6;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input.valid[type="text"]:not(.browser-default) {
    border-bottom: #64b5f6;
    box-shadow: 0 1px 0 0 #64b5f6 !important;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #64b5f6;
}

i {
    color: #311b92;
}

nav {
    background-image: linear-gradient(90deg, #64b5f6, #311b92 );
}

#search-container {
    padding: 0 !important;
    width: 100%;
    margin-bottom: 10px;
}

#search, #clear {
    width: 100%;
    margin-top: 5px;
}


.btn-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 0 !important; 
}


a {
    width: 100%;
    margin: 5px 0;
}


.btn, .btn-large {
    background-image: linear-gradient(90deg, #64b5f6, #311b92 );
}

.selected-city {
    border: #64b5f6 3px solid;
    margin-top: 55px;
}

.five-day-title {
    margin-top: 20px !important;
    font-size: 25px;
}

.five-day {
    display: flex;
    justify-content: space-around;
}

.date {
    font-weight: bold;
}

.icon {
    height: 75px;
}

.heading {
    margin-top: 0;
}

#uv-background {
    background-color: var(--uv-index);
    border-radius: 10px;
    padding: 1px 8px;
}